Кабинет агентств

<separator>

	<p>
		Добрый день! Высылаем Вам доступ к услуге <a href="http://xn----7sbaalrb2cl7afpc.xn--p1ai/cabinet/" target="_blank">«Личный кабинет»</a>.<br />Просим Вас внимательно ознакомиться с инструкцией по пользованию данным сервисом.
	</p>
	<p>
		Для доступа используйте присвоенный Вам логин и пароль:
	</p>
	<p style="background: #f5f5f5; margin: 10px 0px;">
		<span style="color: #727272">Логин:</span> <strong><login></strong><br />
		<span style="color: #727272">Пароль:</span> <strong><password></strong>
	</p>
	<p style="text-align: center">
		<a href="http://xn----7sbaalrb2cl7afpc.xn--p1ai/cabinet/" target="_blank" style="display: inline-block; color: white; text-decoration: none; padding: 10px 15px;  outline: none; border-width: 2px 0; border-style: solid none; border-color: #FDBE33 #000 #D77206; border-radius: 6px; background: linear-gradient(#F3AE0F, #E38916) #E38916; transition: 0.2s; font-size: 12pt;">Перейти к работе</a>
	</p>
	<p style="margin: 15px 0px;">
		Если у Вас возникнут вопросы и замечания по работе Личного кабинета, просим Вас обязательно с нами связаться.<br />Надеемся, что данный сервис упростит процесс обработки заявок, улучшит качество обслуживания клиентов и скрепит наше взаимовыгодное сотрудничество.
	</p>
