<div style="border:1px solid #CCC; padding: 10px; margin: 0 auto; width: 700px; border-bottom: 6px solid #FF6600; font-family: sans-serif;">
	<div>
		<a href="http://xn----7sba6aaba8akdsdekah.xn--p1ai/client/" target="_blank" style="text-decoration: none;">
			<img src="http://xn----7sba6aaba8akdsdekah.xn--p1ai/images/head/logo-menu.png">
		</a>
		<a style="text-decoration: none; float: right; font-size: 20pt; color: #2e456e; font-weight: bold;">
			8 800 302 12 65
		</a>
	</div>
	<div style="margin-top: 30px; font-size: 12pt;">

		<body-message>

	</div>
</div>
<p style="font-size: 9pt; color: #969696; padding: 5px 0 15px; text-align: center;">Вы получили это письмо, так как указали свой e-mail при регистрации или бронировании.<br />Если письмо попало к вам по ошибке, просто проигнорируйте его.</p>
