#Folders
temp
cache/
images
image
.idea
vendor
vendor/*

#Files
config.*
kill.txt
time.txt
fast-time.txt
fast-time-0.txt
fast-time-1.txt
fast-time-2.txt
fast-time-3.txt
cache.*
core/sync/file
core/sync/file/*
composer.phar
composer.lock
/objects.xlsx