Заявка оплачена

<separator>

	<p>
		Уведомляю Вас о том, что статус заявки №<id> изменился<br />
		с неоплаченного на <strong>оплаченый</strong>.
	</p>
	<p>
		Посмотреть статус заявки и распечать счет Вы можете в <a href="http://xn----7sbaalrb2cl7afpc.xn--p1ai/cabinet/заявки/<id>" title="Личный кабинет" target="_blank">Личном кабинете</a>.
	</p>
	<p style="text-align: center">
		<a href="http://xn----7sbaalrb2cl7afpc.xn--p1ai/cabinet/заявки/<id>" target="_blank" style="display: inline-block; color: white; text-decoration: none; padding: 10px 15px;  outline: none; border-width: 2px 0; border-style: solid none; border-color: #FDBE33 #000 #D77206; border-radius: 6px; background: linear-gradient(#F3AE0F, #E38916) #E38916; transition: 0.2s; font-size: 12pt;">Перейти в Личный кабинет</a>
	</p>
	<p>
		С уважением, <manager>
	</p>
