Запрос на оплату заявки №<id>

<separator>

	<p>
		Уведомляем Вас о том, что турист оплатил заявку №<id> банковской картой. Вам нужно зайти в <a href="<link>" title="Личный кабинет" target="_blank">личный кабинет</a> и подтвердить или аннулировать платеж.
	</p>
	<p style="text-align: center">
		<a href="<link>" target="_blank" style="display: inline-block; color: white; text-decoration: none; padding: 10px 15px;  outline: none; border-width: 2px 0; border-style: solid none; border-color: #FDBE33 #000 #D77206; border-radius: 6px; background: linear-gradient(#F3AE0F, #E38916) #E38916; transition: 0.2s; font-size: 12pt;">Перейти в Личный кабинет</a>
	</p>
