Заявка на бронирование №<id> <object>

<separator>

	<p>
		Здравствуйте! Ваш заказ №<id> на официальном сайте объекта «<object>» <strong><website></strong> успешно принят в обработку.
	</p>
	<p>
		Сайт <strong><website></strong> использует систему онлайн-бронирования «САНАТА». Вы получаете доступ в Личный кабинет. Нет необходимости регистрироваться — учетная запись создана автоматически:<br /><br />
		<span style="color: #727272">Логин:</span> <strong><email></strong><br />
		<span style="color: #727272">Пароль:</span> <strong><password></strong> <span style="font-size:12px;color:#aaa;line-height:15px">(рекомендуем сменить после активации)</span>
		<div style="text-align: center;">
			<a href="<link>" target="_blank" style="display: inline-block; color: white; text-decoration: none; padding: 10px 15px;  outline: none; border-width: 2px 0; border-style: solid none; border-color: #FDBE33 #000 #D77206; border-radius: 6px; background: linear-gradient(#F3AE0F, #E38916) #E38916; transition: 0.2s; font-size: 12pt;">Активировать мою учетную запись</a>
		</div>
	</p>
	<p>
		<div>В Личном кабинете Вы можете:</div>
		<div style="margin-left: 20px; padding: 3px;">&#10004; <strong>Оплачивать путевки онлайн</strong>.</div>
		<div style="margin-left: 20px; padding: 3px;">&#10004; Отслеживать свои заявки в режиме реального времени.</div>
		<div style="margin-left: 20px; padding: 3px;">&#10004; Узнать <strong>количество бонусов</strong> на счету.</div>
	</p>
