Ваши средства по заявке № <id> разморожены

    <separator>

        <p>
            Уважаемый(ая) <client>!<br />Уведомляем Вас о том, что операция по внесению средств для заморозки по заявке №<id> (<object>) была <strong>отменена</strong>.
        </p>
        <p>
            Ожидайте возврата средств на Ваш счет в ближайшие минуты.
        </p>
        <p>Номер заказа: <order_number></p>
        <p>Сумма: <sum></p>
        <p>
            Посмотреть статус заявки Вы можете в&ensp;<a href="<link>" target="_blank">Личном кабинете.</a>
        </p>
        <p style="text-align: center;">
            <a href="<link>" target="_blank" style="display: inline-block; color: white; text-decoration: none; padding: 10px 15px;  outline: none; border-width: 2px 0; border-style: solid none; border-color: #FDBE33 #000 #D77206; border-radius: 6px; background: linear-gradient(#F3AE0F, #E38916) #E38916; transition: 0.2s; font-size: 12pt;">Перейти в Личный кабинет</a>
        </p>
        <p>
            Это письмо сформировано автоматически.<br />
            Если у Вас возникли вопросы, просим связаться с нами по телефонам: <telephone>, или по email kazan@sanata-travel.com, kazangood@gmail.com<br />
            Благодарим за выбор нашей компании!
        </p>