Ваша заявка №<id> оплачена

    <separator>

        <p>
            Уважаемый(ая) <client>!<br />Уведомляем Вас о том, что статус заявки №<id> (<object>) изменился<br/><strong>с неоплаченного</strong> на&nbsp;<strong>оплаченный</strong>, так как оставленная Вами заявка была подтверждена, а замороженные на Вашей карте деньги приняты в качестве оплаты.
        </p>
        <p>
            Посмотреть статус заявки и распечатать путевку Вы можете в&ensp;<a href="<link>" target="_blank">Личном кабинете.</a>
        </p>
        <p style="text-align: center;">
            <a href="<link>" target="_blank" style="display: inline-block; color: white; text-decoration: none; padding: 10px 15px;  outline: none; border-width: 2px 0; border-style: solid none; border-color: #FDBE33 #000 #D77206; border-radius: 6px; background: linear-gradient(#F3AE0F, #E38916) #E38916; transition: 0.2s; font-size: 12pt;">Перейти в Личный кабинет</a>
        </p>
        <p>
            На Вашем бонусном счете <strong><bonus> рублей</strong>, которые Вы можете использовать с <date_v> как скидку при бронировании путевок в санатории или зарубежные туры в нашей компании.
        </p>
        <p>
            Вам необходимо <strong>распечатать обменную путевку и взять с собой при заселении</strong>.
            <br>Плюс к этому при себе обязательно наличие:
        <ul>
            <li>паспорта;</li>
            <li>медицинского полиса;</li>
            <li>санаторно-курортной карты.</li>
        </ul>
        <br> Если с Вами едет ребенок, то Вам будут необходимы:
        <ul>
            <li>свидетельство о рождении;</li>
            <li>санаторно-курортная карта на ребенка;</li>
            <li>справки о прививках и эпидемиологическом окружении.</li>
        </ul>
        </p>
        <p>
            При выезде из санатория не забудьте взять документы, нужные для получения социального налогового вычета по оплате медицинских услуг: отрывной талон санаторно-курортной путевки; копия лицензии санаторно-курортного учреждения, заверенная печатью учреждения; справка об оплате медицинских услуг для налоговых органов.
        </p>
        <p>
            Хорошего Вам отдыха!<br />
            Просьба сообщить о получении письма!
        </p>
        <p>
            Это письмо сформировано автоматически.<br />
            Если у Вас возникли вопросы, просим связаться с нами по телефонам: <telephone>, или по email zakaz@sanata-travel.ru<br />
            Благодарим за выбор нашей компании!
        </p>
