Спасибо за ваш отзыв

<separator>

	<p>
		<img src="<image>" style="float: left; margin: 2px 10px;" />
		Здравствуйте, <name>!<br /><br />
		Благодарим Вас за отзыв, который Вы оставили о своем отдыхе (&laquo;<object>&raquo;). Мы уверены в том, что Ваш отзыв и рекомендации помогут другим туристам сделать верный выбор.
	</p>
	<p style="text-align: center;">
		<a href="<link>" target="_blank" style="display: inline-block; color: white; text-decoration: none; padding: 10px 15px;  outline: none; border-width: 2px 0; border-style: solid none; border-color: #FDBE33 #000 #D77206; border-radius: 6px; background: linear-gradient(#F3AE0F, #E38916) #E38916; transition: 0.2s; font-size: 12pt;">Посмотреть мой отзыв</a>
	</p>
