На ваш отзыв пришел ответ

<separator>

<div style="border:1px solid #CCC; background: #FFF; margin: 0 auto; width: 700px; border-bottom: 6px solid #FF6600; font-family: sans-serif;">
	<a href="https://sanata-travel.ru/client/" target="_blank" style="display: block; text-decoration: none;">
		<div style="border-bottom: 6px solid #FF6600; padding: 5px;">
			<img src="http://sanata-travel.ru/client/images/letter/logo.png" style="float: left; margin-right: 10px;" />
			<span style="display: block; font-size: 20pt; font-weight: bold; color: #FF6600">САНАТА</span>
			<span style="color: #A0A0A0">Система онлайн-бронирования</span>
			<div style="clear: both;"></div>
		</div>
	</a>
	<div style="padding: 10px;">
		<img src="<image>" style="float: left; margin: 2px 10px;" />
		<div style="font-size: 11pt;">
			Здравствуйте!<br /><br />
			Вы оставляли отзыв или комментарий об объекте &laquo;<object>&raquo;. На него пришел ответ. Для просмотра комментария перейдите по ссылке.
		</div>
		<p style="text-align: center;">
			<a href="<link>" target="_blank" style="display: inline-block; color: white; text-decoration: none; padding: .5em 2em;  outline: none; border-width: 2px 0; border-style: solid none; border-color: #FDBE33 #000 #D77206; border-radius: 6px; background: linear-gradient(#F3AE0F, #E38916) #E38916; transition: 0.2s; font-size: 12pt;">Посмотреть комментарий</a>
		</p>
	</div>
</div>
<p style="font-size: 9pt; color: #969696; padding: 5px 0 15px; text-align: center;">Вы получили это письмо, так как приобретали путевку через систему онлайн-бронирования «САНАТА».<br />Если письмо попало к вам по ошибке, просто проигнорируйте его.</p>
