Ваша заявка подтверждена

<separator>

	<p>
		Уважаемый(ая) <client>!<br />
		Уведомляем Вас о том, что статус заявки №<id> (<object>) изменился<br />
		с неподтвержденного<br />
		на подтвержденный.<br /><br />
		<date_payment>
	</p>
	<p>
		Способы оплаты:
		<ul>
			<li>С помощью <strong>банковской карты</strong> Visa или MasterCard в <a href="http://xn----7sba6aaba8akdsdekah.xn--p1ai/client/заявки/<id>" target="_blank">личном кабинете</a></li>
			<li>Оплата <strong>наличными в банке</strong> - просто распечатайте счет из личного кабинета. По Вашему запросу мы также можем выслать его на email</li>
			<li>Наличными в одном из наших <a href="http://xn----7sba6aaba8akdsdekah.xn--p1ai/%D0%BA%D0%BE%D0%BD%D1%82%D0%B0%D0%BA%D1%82%D1%8B" target="_blank">офисов</a></li>
		</ul>
	</p>
	<p>
		После поступления оплаты статус Вашем заявки изменится с подтвержденного на оплаченный, и Вы сможете распечатать путевку в личном кабинете.
	</p>
	<p>
		Просьба сообщить о получении письма!<br />
		Это письмо сформировано автоматически.<br />
		Если у Вас возникли вопросы, просим связаться с нами по телефонам: <telephone>, или по email zakaz@sanata-travel.ru<br />
		Спасибо, что выбрали нашу компанию.
	</p>
