Ваша заявка №<id> оплачена

<separator>

	<p>
		Добрый день, <fio>! Сообщаем Вам, что Ваша заявка <strong>№<id></strong> (<object>) оплачена.<br />
		На Вашем бонусном счете <strong><bonus> рублей</strong>, которые Вы можете использовать <date_v> как скидку при бронировании путевок в санатории или зарубежные туры в нашей компании.
	</p>
	<p>
		Высылаю Вам обменную путевку для заселения в санаторий. Вам необходимо её распечатать и взять с собой при заселении.
		<br>Плюс к этому при себе обязательно наличие: 
		<ul>
			<li>паспорта;</li> 
			<li>медицинского полиса;</li>
			<li>санаторно-курортной карты.</li>
		</ul>
	<br> Если с Вами едет ребенок, то Вам будут необходимы: 
	<ul>
		<li>свидетельство о рождении;</li>
		<li>санаторно-курортная карта на ребенка;</li>
		<li>справки о прививках и эпидемиологическом окружении.</li>
	</ul>
	</p>
	<p>
		При выезде из санатория не забудьте взять документы, нужные для получения социального налогового вычета по оплате медицинских услуг: отрывной талон санаторно-курортной путевки; копия лицензии санаторно-курортного учреждения, заверенная печатью учреждения; справка об оплате медицинских услуг для налоговых органов.
	</p>
	<p>
		Хорошего Вам отдыха!<br />
		Просьба сообщить о получении письма!<br /><br />
		Благодарим за выбор нашей компании!
	</p>
