Ваша учетная запись создана

<separator>

	<p>
		Вы зарегистрировались в Личном кабинете. Для активации вашей учетной записи перейдите ссылке:
	</p>
	<p style="text-align: center">
		<a href="<hash>" target="_blank" style="display: inline-block; color: white; text-decoration: none; padding: 10px 15px;  outline: none; border-width: 2px 0; border-style: solid none; border-color: #FDBE33 #000 #D77206; border-radius: 6px; background: linear-gradient(#F3AE0F, #E38916) #E38916; transition: 0.2s; font-size: 12pt;">Активировать мою учетную запись</a>
	</p>
	<p style="margin: 15px 0px;">
		Мы также перенесли в Личный кабинет все бронирования, которые были сделанны с этого адреса.
	</p>
	<p>
		<div>В Личном кабинете Вы можете:</div>
		<div style="margin-left: 20px; padding: 3px;">&#10004; <strong>Оплачивать путевки онлайн</strong>.</div>
		<div style="margin-left: 20px; padding: 3px;">&#10004; Отслеживать свои заявки в режиме реального времени.</div>
		<div style="margin-left: 20px; padding: 3px;">&#10004; Узнать <strong>количество бонусов</strong> на счету.</div>
		<div style="margin-left: 20px; padding: 3px;">&#10004; Задать вопросы операторам бронирования.</div>
	</p>
