Восстановление пароля

<separator>

	<p>
		Уважаемый посетитель,<br />
		для завершения процесса восстановления пароля в Личный кабинет, пожалуйста, перейдите по ссылке:
	</p>
	<div style="margin: 10px 0px;">
		<div style="text-align: center">
			<a href="<hash>" target="_blank" style="display: inline-block; color: white; text-decoration: none; padding: 10px 15px;  outline: none; border-width: 2px 0; border-style: solid none; border-color: #FDBE33 #000 #D77206; border-radius: 6px; background: linear-gradient(#F3AE0F, #E38916) #E38916; transition: 0.2s; font-size: 12pt;">Изменить пароль</a>
		</div>
	</div>
	<div style="margin: 15px 0px;">
		Если Вы не запрашивали восстановление пароля, то просто проигнорируйте данное письмо.
	</div>
