Личный кабинет объекта [санатории-россии.рф]

<separator>

	<p>
		Добрый день! Высылаем Вам доступ к услуге <a href="http://admin.xn----7sba6aaba8akdsdekah.xn--p1ai/" target="_blank" style="color: #000998">«Личный кабинет объекта»</a>.
	</p>
	<p>
		Для доступа используйте присвоенный Вам логин и пароль:<br /><br />
		<span style="color: #727272">Логин:</span> <strong><login></strong><br />
		<span style="color: #727272">Пароль:</span> <strong><password></strong>
	</p>
	<p style="text-align: center">
		<a href="http://admin.xn----7sba6aaba8akdsdekah.xn--p1ai/" target="_blank" style="display: inline-block; color: white; text-decoration: none; padding: 10px 15px;  outline: none; border-width: 2px 0; border-style: solid none; border-color: #FDBE33 #000 #D77206; border-radius: 6px; background: linear-gradient(#F3AE0F, #E38916) #E38916; transition: 0.2s; font-size: 12pt;">Перейти в Личный кабинет</a>
	</p>
	<p>
		В Личном кабинете Вы можете:
		<div style="margin-left: 20px; padding: 3px">&#9734; редактировать описание объекта;</div>
		<div style="margin-left: 20px; padding: 3px">&#9734; редактировать профили / методы лечения / инфраструктуру;</div>
		<div style="margin-left: 20px; padding: 3px">&#9734; редактировать тарифы / категории номеров / размещения.</div>
	</p>
