С Новым <year> годом!

<separator>

	<p>
		Уважаемый(ая) <name>!
	</p>
	<p>
		Коллектив <firma> поздравляет Вас с наступающим Новым годом!<br />
		Желаем Вам больше приятных и незабываемых впечатлений и отличного отдыха.<br />
		В качестве подарка на Ваш бонусный счет будет начислено <strong><bonus> рублей *</strong>, которые Вы можете потратить на отдых в России.<br /><br />
		*Бонус действителен в течение <strong>1 года</strong> с момента получения.
	</p>
	<p style="text-align: center">
		<a href="http://xn----7sba6aaba8akdsdekah.xn--p1ai/client/?invited=new-year" target="_blank" style="display: inline-block; color: white; text-decoration: none; padding: 10px 15px;  outline: none; border-width: 2px 0; border-style: solid none; border-color: #FDBE33 #000 #D77206; border-radius: 6px; background: linear-gradient(#F3AE0F, #E38916) #E38916; transition: 0.2s; font-size: 12pt;">Получить подарок</a>
	</p>
