История диалога [<website>]

<separator>

<div style="border:1px solid #CCC; background: #FFF; margin: 0 auto; width: 700px; border-bottom: 6px solid #FF6600; font-family: sans-serif;">
	<a href="https://sanata-travel.ru/client/" target="_blank" style="display: block; text-decoration: none;">
		<div style="border-bottom: 6px solid #FF6600; padding: 5px;">
			<img src="http://sanata-travel.ru/client/images/letter/logo.png" style="float: left; margin-right: 10px;" />
			<span style="display: block; font-size: 20pt; font-weight: bold; color: #FF6600">САНАТА</span>
			<span style="color: #A0A0A0">Система онлайн-бронирования</span>
			<div style="clear: both;"></div>
		</div>
	</a>
	<div style="padding: 10px;">
		<div style="font-size: 11pt;">
			История разговора на сайте <website>:<br /><br />
			<log>
		</div>
	</div>
</div>
